    <footer class="footer">
        <div class="footer-content">
            <p>© 2024 WAFFLES. Todos os direitos reservados.</p>
            <p>Siga-nos em nossas redes sociais: <a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">Instagram</a></p>
        </div>
    </footer>
</body>
</html>
