{{> header}}
<div class="slideshow">
    <div class="carousel">
        {{#slides}}
        <div class="slide{{#active}} active{{/active}}">
            <img src="{{src}}" />
        </div>
        {{/slides}}
    </div>
    
    <div class="controls">
        <div class="typewriter">
            <h1>DA BÉLGICA PARA O MUNDO</h1>
        </div>
        {{#controls}}
        <a href="#" data-index="{{index}}"{{#active}} class="active"{{/active}}>
            <img src="{{src}}" />
        </a>
        {{/controls}}
    </div>
</div>

<div class="container">
    <h2>GALERIA DE VLOGS</h2>
    <div class="waffle-list">
        {{#pages}}
        <div class="waffle">
            <a href="{{url}}">
                <img src="/{{coverImage}}" alt="{{title}}">
                <h3>{{title}}</h3>
            </a>
        </div>
        {{/pages}}
    </div>
</div>
{{> footer}}