{{> header}}
<div class="container-login">
    <div class="login-container">
        <h2>Login</h2>
        <form action="/perform-login" method="POST">
            <div class="form-group">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="login" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="senha" required>
            </div>
            <button type="submit" class="login-button">Entrar</button>
        </form>
        <div class="login-links">
            <a href="/reset-password">Esqueceu a senha?</a>
            <a href="/register">Criar uma conta</a>
        </div>
    </div>
</div>

{{> footer}}
