<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" />
    <title>Criar Novo Waffle</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">WAFFLES</div>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Os melhores do Norte Pioneiro</h2>
        {{#usuario}}<h1>Olá, {{.}}</h1>{{/usuario}}
        <ul>
            {{#coisas}}
            <li>{{chave}}: {{valor}}</li>
            {{/coisas}}
        </ul>
        <form action="/criar-waffle" method="post" enctype="multipart/form-data" class="waffle-form">
            <div class="form-group">
                <label for="fileName" class="form-label">Nome do Arquivo:</label>
                <input type="text" id="fileName" name="fileName" required class="form-control">
            </div>
            <div class="form-group">
                <label for="pageContent" class="form-label">Conteúdo da Página (HTML):</label>
                <textarea id="pageContent" name="pageContent" rows="6" required class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="imageUpload" class="form-label">Upload da Imagem:</label>
                <input type="file" id="file" name="file" required class="form-control">
            </div>
            <button type="submit" class="btn-submit">Enviar</button>
        </form>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2024 WAFFLES. Todos os direitos reservados.</p>
            <p>Siga-nos em nossas redes sociais: <a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">Instagram</a></p>
        </div>
    </footer>
</body>
</html>
