<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bangers&display=swap">
    <link rel="stylesheet" href="/style.css" />
    <script src="app.js" defer></script>
    <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="page-container">
        <a href="/" class="back-button"><i class="fas fa-chevron-left"></i> Voltar para a tela inicial</a>
        {{#admin}}
        <a href="/editar/{{id}}" class="edit-button"><i class="fas fa-edit"></i> Editar</a>
        <a href="/excluir/{{id}}" class="delete-button"><i class="fas fa-trash-alt"></i> Excluir</a>
        {{/admin}}
        <div class="clear"></div>
        <h1>{{title}}</h1>
        <img src="/{{coverImage}}" alt="{{title}}" class="cover-image">
        <div class="page-content">
            {{{content}}}
        </div>
    </div>
</body>