<!-- views/waffle.mustache -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <! -- TODO: style apenas de teste, adicionar variavel de style-->
    <style>

    </style>
</head>
<body>
    <nav class="navbar" style="height: 3cm; display: flex; justify-content: space-around; align-items: center; background-color: #CBA181; color: #FFFFFF;">
        <div class="logo" style="font-size: 48px; font-weight: bold;">WAFFLES</div>
        <ul class="menu" style="list-style: none; font-size: 30px; display: flex;">
            <li style="padding: 20px; cursor: pointer;">Home</li>
            <li style="padding: 20px; cursor: pointer;">Log in</li>
        </ul>
    </nav>
    <!-- titulo e imagem meio desnecessarios desse jeito, melhor deixar a cargo do escritor <img src="{{ image }}" alt="Waffle Image">  <h1>{{ title }}</h1> -->

    <p>{{{ description }}}</p>


</body>
</html>