* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

/*---------------------------------------------------------------PÁGINA INICIAL*/

/*NAVBAR*/

.navbar {
  height: 3cm;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CBA181;
  color: #FFFFFF;
}
.logo {
  font-size: 48px;
  font-weight: bold;
}
.menu {
  list-style: none;
  font-size: 30px;
  display: flex;
}
.menu li {
  padding: 20px;
  cursor: pointer;
}
.menu li:hover {
  text-decoration: underline;
}

/*SLIDESHOW*/

.slideshow {
  height: 88vh;
  background-color: #FFF1B1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.carousel {
  width: 80rem;
  height: 80rem;
  border: 7rem solid#eebe97;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -68%;
  flex-shrink: 0;
  transition: rotate 1s;
}

.slide {
  width: 20rem;
  position: absolute;
}

.slide:nth-child(1) {
  bottom: -20rem;
}

.slide:nth-child(2) {
  left: -20rem;
}

.slide:nth-child(3) {
  top: -20rem;
}

.slide:nth-child(4) {
  right: -20rem;
}

.slide.active img {
  transform: scale(2.5);
  transition: transform 0.5s 0.5s;
}

.slide img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.controls {
  position: sticky;
  bottom: 5rem;
}

.typewriter h1 {
  margin: 0 auto; 
  letter-spacing: .15em; 
  width: max-content; 
}

.controls a {
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 10rem;
  transition: background-color 1s;
}

.controls a.active {
  background-color: #9F7860;
}

.controls img {
  width: 10rem;
}

/*GALERIA DE WAFLLES*/

.container {
  background-color: #9F7860;
  height: 92.4vh;
}

.container > h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.waffle-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; 
  justify-content: center; 
  padding: 20px; 
  width: calc(70% - 40px); 
  margin: 0 auto; 
}

.waffle {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.waffle:hover {
  transform: scale(1.05);
}

.waffle img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.waffle h3 {
  background: #fff;
  font-size: 24px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.waffle a {
  color: #333;
  text-decoration: none;
}

.waffle a:hover {
  text-decoration: underline;
}

/*FOOTER*/

.footer {
  margin-top: auto; 
  width: 100%; 
  background-color: #333; 
  color: white;           
  text-align: center;     
  padding: 20px 0;        
  font-size: 14px;       
  height: 2cm; 
}

.footer a {
  color: #ffdd00;         
  text-decoration: none; 
}

.footer a:hover {
  text-decoration: underline;
}

.typewriter {
  margin-bottom: 50px;
}

/*---------------------------------------------------------------LOGIN*/
.container-login {
  height: calc(100vh - 5cm); 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.login-container {
  margin: auto;
  width: 40%; 
  max-width: 500px; 
  padding: 30px; 
  background-color: #FFFFFF; 
  border-radius: 10px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
  color: #333333; 
}

.login-container h2 {
  text-align: center;
  color: #CBA181;
  font-size: 2.4rem; 
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #9F7860; 
  font-size: 1.6rem; 
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 25px;
  border: 2px solid #CBA181; 
  border-radius: 5px; 
  font-size: 1.6rem; 
  box-sizing: border-box; 
}

.login-button {
  background-color: #CBA181;
  color: white;
  border: none;
  padding: 15px 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 1.8rem; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #B8977E; 
}

.login-links {
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem; 
}

.login-links a {
  color: #9F7860;
  text-decoration: none;
  transition: color 0.3s;
}

.login-links a:hover {
  color: #CBA181;
  text-decoration: underline;
}

/*---------------------------------------------------------------CREATE PAGE*/
.create-page-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  min-height: calc(100vh - 5cm); /* Subtrai a altura estimada do header e footer */
  padding: 20px;
}

.form-create-page {
  width: 60%;
  max-width: 1000px; /* Limita a largura máxima para grandes telas */
  padding: 30px;
  background-color: #ffffff; /* Fundo branco para o formulário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
  border-radius: 10px; /* Bordas arredondadas */
}

.form-group {
  margin-bottom: 20px; /* Espaçamento entre campos do formulário */
}

.form-group label {
  font-size: 1.8rem; /* Tamanho da fonte para labels */
  color: #9F7860; /* Cor do texto para labels */
}

.form-group input, .form-group textarea {
  width: 100%; /* Faz os inputs ocuparem todo o espaço horizontal */
  padding: 15px;
  border: 2px solid #CBA181; /* Borda na cor tema */
  border-radius: 5px; /* Bordas arredondadas para os inputs */
  font-size: 1.6rem;
  color: #333; /* Cor do texto dentro dos inputs */
}

.form-group input[type="file"] {
  border: 2px dashed #CBA181; /* Borda tracejada para o input de arquivo */
}

.button-submit {
  background-color: #CBA181;
  color: #FFFFFF;
  border: none;
  padding: 10px 15px;
  font-size: 1.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-submit:hover {
  background-color: #B8977E; /* Cor ao passar o mouse */
}

/*VIEW PAGE*/
.page-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.page-container h1 {
  font-size: 5em;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  margin: 40px 0 40px 0
}

.page-container .cover-image {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
}

.page-container .page-content h2 {
  margin: 10px 0 5px 0
}

.page-container .page-content {
  font-size: 2.5em;
  line-height: 1.5;
  text-align: justify;
  margin: 20px 0 20px 0
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
  font-size: 2.5em;
  float: left;
}

.edit-button,
.delete-button {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  font-size: 2em;
  border: 1px solid #333;
  border-radius: 5px;
  float: right; /* Alinha os botões à direita */
}

.edit-button:hover,
.delete-button:hover {
  background-color: #333;
  color: #fff;
}

.clear {
  clear: both;
}