* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

/*NAVBAR*/

.navbar {
  height: 3cm;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CBA181;
  color: #FFFFFF;
}
.logo {
  font-size: 48px;
  font-weight: bold;
}
.menu {
  list-style: none;
  font-size: 30px;
  display: flex;
}
.menu li {
  padding: 20px;
  cursor: pointer;
}
.menu li:hover {
  text-decoration: underline;
}

/*SLIDESHOW*/

.slideshow {
  height: 88vh;
  background-color: #FFF1B1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.carousel {
  width: 80rem;
  height: 80rem;
  border: 7rem solid#eebe97;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -68%;
  flex-shrink: 0;
  transition: rotate 1s;
}

.slide {
  width: 20rem;
  position: absolute;
}

.slide:nth-child(1) {
  bottom: -20rem;
}

.slide:nth-child(2) {
  left: -20rem;
}

.slide:nth-child(3) {
  top: -20rem;
}

.slide:nth-child(4) {
  right: -20rem;
}

.slide.active img {
  transform: scale(2.5);
  transition: transform 0.5s 0.5s;
}

.slide img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.controls {
  position: sticky;
  bottom: 5rem;
}

.typewriter h1 {
  margin: 0 auto; 
  letter-spacing: .15em; 
  width: max-content; 
}

.controls a {
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 10rem;
  transition: background-color 1s;
}

.controls a.active {
  background-color: #9F7860;
}

.controls img {
  width: 10rem;
}

/*GALERIA DE WAFLLES*/

.container {
  background-color: #9F7860;
  height: 92.4vh;
}

.container > h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.waffle-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; 
  justify-content: center; 
  padding: 20px; 
  width: calc(70% - 40px); 
  margin: 0 auto; 
}

.waffle {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.waffle:hover {
  transform: scale(1.05);
}

.waffle img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.waffle h3 {
  background: #fff;
  font-size: 24px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.waffle a {
  color: #333;
  text-decoration: none;
}

.waffle a:hover {
  text-decoration: underline;
}

/*FOOTER*/

.footer {
  background-color: #333; 
  color: white;           
  text-align: center;     
  padding: 20px 0;        
  font-size: 14px;        
}

.footer a {
  color: #ffdd00;         
  text-decoration: none; 
}

.footer a:hover {
  text-decoration: underline;
}

.typewriter {
  margin-bottom: 50px;
}

/*LOGIN*/
.login-container {
  height: 73vh;
  background-color: #FFF1B1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #333; /* Cor do texto */
}

.login-container form {
  width: 300px; /* Largura do formulário */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%; /* Largura dos campos de entrada */
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc; /* Cor da borda */
  border-radius: 5px; /* Raio da borda */
}

.login-container button[type="submit"] {
  width: 100%; /* Largura do botão de envio */
  padding: 10px;
  background-color: #CBA181; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

.login-container button[type="submit"]:hover {
  background-color: #A56B52; /* Mudança de cor de fundo ao passar o mouse */
}
